body {
    margin: 0 0;
    padding: 0;
}

body a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Altera o fundo para um tom mais escuro ao passar o mouse */
    border-color: rgba(0, 0, 0, 0.1); /* Altera a cor da borda ao passar o mouse */
    animation: pulse 0.4s infinite; /* Aplica a animação de pulsação */
}

@keyframes pulse {
    0% {
      box-shadow: 0px 0px 0px 0px rgb(0, 255, 13); /* Começa sem sombra */
    }
    50% {
      box-shadow: 0px 0px 80px 10px rgba(255, 0, 0, 0.7); /* Adiciona uma sombra pulsante */
    }
    100% {
      box-shadow: 0px 0px 0px 0px rgba(31, 253, 253, 0.7); /* Retorna para sem sombra */
    }
  }

.header-top-section {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
}

.header-upper-area {
    height: 100px;
    width: 1920px;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

.logo-title {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0 0;
    font-size: 35px;
}

.nav-menu {
    height: 40px;
    width: 50vh;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content:space-between; 
}

.nav-menu a {
    color: white;
    border: 1px solid color(black);
    padding: 0px 4px;
    border-radius: 4px;
    text-decoration: none;
    transition: transform .4s;
}

.nav-menu a:hover {
    text-decoration: underline;
    transform: scale(1.3)
}

.main-mid-section {
    height: 1700px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-upper-area {
    height: 1700px;
    width: 1920px;
    background-color: #f5c93a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

.main-article {
    height: 300px;
    width: 1400px;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: box-shadow 0.8s; /* Adiciona transição suave na sombra */
}

.main-article:hover {
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3); /* Adiciona uma leve sombra ao botão ao passar o mouse */
    
}

.img-fixed-size {
    width: 420px;
    height: 270px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.384);
}

.article-body {
    height: 340px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-article {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin: 0 0;
}

.text-article {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: justify;
}

.footer-bottom {
    height: 100px;
    background-color: rgb(34, 34, 34);
}

.footer-down-area {
    height: 100px;
    width: 1900px;
    background-color: rgb(34, 34, 34);
}